<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
        <link type="text/css" th:href="@{/css/universal.css}" rel="stylesheet" >
        <link type="text/css" th:href="@{/css/table-styling.css}" rel="stylesheet" >
        <link type="text/css" th:href="@{/css/item.css}" rel="stylesheet" >

    </head>
    <body>

        <div th:replace="fragments/navigation-bar :: navigation-bar"></div>
        <div>
            The requested URL was not found.
        </div>

    </body>
</html>