<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Login Page</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link type="text/css" th:href="@{/css/login_page.css}" rel="stylesheet" >
        <link type="text/css" th:href="@{/css/universal.css}" rel="stylesheet" >
        <link type="text/css" th:href="@{/css/universal.css}" rel="stylesheet" >
    </head>

    <body>
        <div class="form-container-container">
            <div class="form-container">
                <div class="sign-in-heading">Sign In</div>
                <hr>
                <form action="" th:action="@{/authenticateTheUser}" method="POST" >
                    <div>
                        <div>
                            <div th:if="${param.error}" class="message-box">
                                    Invalid username and password.
                            </div>
    
                            <div th:if="${param.logout}" class="message-box">
                                You have been logged out successfully.
                            </div>
                        </div>
    
                        <div><input type="text" name="username" placeholder="username"/></div>
                        <div><input type="password" name="password" placeholder="password"/></div>
                        
                        <div><button class="login-button" type="submit">Login</button></div>
                        <hr>

                        <div><a class="register-link" th:href="@{/register/showRegistrationForm}">
                            <div class="register-link-container">New user? Register here</div>
                        </a></div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
